$badgeContainerWidth: 10%;

/*	GENERAL STYLES
==========================================*/

#user_select {
	width: 195px;
}



/*	DASHBOARD STYLES
==========================================*/

.user__dashboard {
	width: 100%;
	background-color: #b0b0b0;
}

.user__name {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}

//badges container
.user__badges {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

//individual badge card
.badges__badge {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-content: space-between;
	width: $badgeContainerWidth;
}

.badges__badge--image {
	width: 100%;
}

.badges__badge--title {
	display: none;
	width: 100%;
	text-align: center;
}

//container for all reccomendation stuff;
.user__recommendations {
	width: 100%;
}

//recommended container for just the badges
.rec-container {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

//individual recommendation card
.recommendations__recommended {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: $badgeContainerWidth;
	margin: 2%;

}

.recommendations__recommended--title {
	text-align: center;
}

.recommendations__recommended--image {
	width: 100%;
}

